{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" content="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" content="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
  <div class="entry-title">
    <h2>{{ article.title }}</h2>
  </div>
  <div class="entry-info">
    <small>
      <abbr class="published" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</abbr>
	    {% if article.authors %} by {% for author in article.authors %} 
        {{ author }} @
      {% endfor %} {% endif %}
      {{article.location}}
    </small>
    {% if article.modified %}
      <br/>
      <small>last modified:
        <abbr class="modified" title="{{ article.modified.isoformat() }}">
          {{ article.locale_modified }}
        </abbr>
      </small>
	  {% endif %}
  </div><!-- /.post-info -->
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
{% endblock %}
