<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/main.css" />
    {% endblock head %}
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container article-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" 
                  data-toggle="collapse" data-target="#navbar" 
                  aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ SITEURL }}/">{林} {{ SITENAME }}<span class="site-title-cursor">_</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="divider-vertical"></li>
            <li><a href="./">/</a></li>
            <li class="divider-vertical"></li>
            <li><a href="https://github.com/chiayolin/chiayolin.github.io/">/src@ </a></li>
            <li class="divider-vertical"></li>
            <li><a href="{{ SITEURL }}/readme">/README</a></li>
            <li class="divider-vertical divider-end"></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>
    <div class="container article-container">
      {% block content %}
      {% endblock %}
      <div class="footer">
        <address>
          /* author: Chiayo Lin<br/>
          &nbsp;* gtihub:&nbsp;@chiayolin<br/>
          &nbsp;* twitter:&nbsp;@chiayolin<br/>
          &nbsp;* chiayolin at gmail dot com */
        </address>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  </body>
</html>