<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="/theme/css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="/theme/css/fancybox.min.css">
      <link rel="stylesheet" type="text/css" href="/theme/css/main.css" />
    {% endblock head %}
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container article-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" 
                  data-toggle="collapse" data-target="#navbar" 
                  aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ SITEURL }}/">
            <span id="brand-name">{林} {{ SITENAME }}</span><span class="site-title-cursor">_</span>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="divider-vertical"></li>
            <li><a href="./">/</a></li>
            <li class="divider-vertical"></li>
            <li><a href="https://github.com/chiayolin/chiayolin.github.io/">/src@ </a></li>
            <li class="divider-vertical"></li>
            <li><a href="{{ SITEURL }}/readme">/README</a></li>
            <li class="divider-vertical divider-end"></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>
    <div class="container article-container">
      {% block content %}
      {% endblock %}
      <div class="footer">
        <small>commit: &nbsp;<a href="" id="git-commit-sha"></a></small> 
        <br/>
        <small>status:&nbsp;<a class="build-status-link" href="https://travis-ci.org/chiayolin/chiayolin.github.io">
          <img src="https://travis-ci.org/chiayolin/chiayolin.github.io.svg?branch=source"/>
        </a></small>
        <br/>
        <small>license: <a style="color:black" href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY NC &nbsp;4.0</a></small>
        <br/><br/>
        <address class="pull-right">〒 chiayolin at gmail dot com<br/>
        密 [PGP]: <a href="https://keybase.io/chiayolin/pgp_keys.asc?fingerprint=318e86c48a9cfd361d73722cbbcac9bd0a1c61ad">
           BBCA C9BD 0A1C 61AD</a>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/theme/js/bootstrap.min.js"></script>
    <script src="/theme/js/fancybox.min.js"></script>
    <script src="/theme/js/baffle.min.js"></script>
    <script src="/theme/js/plugins.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-96958127-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
