{% extends "base.html" %}
{% block content %}
<div class="banner-wrapper">
    <img src="https://lh3.googleusercontent.com/-MafGSANvqCw/WN9yPaIFZYI/AAAAAAAAk5A/MRakjbkHZuwWkmKW66ttF3p8HbvtTjJmwCL0B/s1000-fcrop64=1,00000000ffffffff/IMG_7570.JPG">
    <div class="banner-caption carousel-caption">
      <small>Udvar-Hazy Center | Chantilly, Virginia</small>
    </div>
  </div>
<section id="content">
{% block content_title %}
<span class="title-margin"></span>
<h5><b>articles</b></h5>
{% endblock %}
<ul class="post-list">
{% for article in articles_page.object_list %}
  <li>
    <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr> &raquo;
    <a href="{{ SITEURL }}/{{ article.save_as }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
  </li>
{% endfor %}
</ul><!-- /#posts-list -->
<span class="title-margin"></span>
<h5><b>projects</b></h5>
<ul class="project-list">
  <li>2017 &raquo; <a href="https://github.com/chiayolin/ib-cs-ia/">
    <abbr title="This project is a work-in-progress">*IB Computing Science I.A.</abbr></a></li>
  <li>2017 &raquo; <abbr title="This project is a work-in-progress">*Variable DC Power Supply w/ Display</abbr></li>
  <li>2017 &raquo; <a href="http://hearingvietnam.org/">Hearing Vietnam's Official Website</a></li>
  <li>2016 &raquo; <a href="https://github.com/chiayolin/chiayolin.github.io/tree/source">chiayolin.org (new)</a></li>
  <li>2016 &raquo; <a href="http://chiayolin.org/dotfiles/">Dotfiles 2.0</a></li>
  <li>2016 &raquo; <a href="http://chiayolin.org/physics_mccc/">Physics Engineering Project (2016)</a>
  <li>2015 &raquo; A Computer Science Club at SSIS &dagger;</a>
  <li>2015 &raquo; <a href="http://chiayolin.org/physics_drone/">Physics Engineering Project (2015)</a>
  <li>2014 &raquo; <a href="http://chiayolin.org/nbc/">nbc</a></li>
  <li>2014 &raquo; Programmable Bluetooth Powerstrip</li>
  <li>2014 &raquo; chiayolin.org (original)</li>
  <li>2013 &raquo; 4-bit Binary Adder</li>
</ul>
</section><!-- /#content -->
{% endblock content %}