{% extends "base.html" %}
{% block content %}
<div class="banner-wrapper">
    <img src="https://lh3.googleusercontent.com/-MafGSANvqCw/WN9yPaIFZYI/AAAAAAAAk5A/MRakjbkHZuwWkmKW66ttF3p8HbvtTjJmwCL0B/s1000-fcrop64=1,00000000ffffffff/IMG_7570.JPG">
    <div class="banner-caption carousel-caption">
      <small>Udvar-Hazy Center | Chantilly, Virginia</small>
    </div>
  </div>
<section id="content">
{% block content_title %}
<span class="title-margin"></span>
<h5><b>Ramblings</b></h5>
{% endblock %}
<ul class="post-list">
{% for article in articles_page.object_list %}
  <li>
    <code><abbr class="published published-index" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr> &raquo;</code>
    <a href="{{ SITEURL }}/{{ article.save_as }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
  </li>
{% endfor %}
</ul><!-- /#posts-list -->
<span class="title-margin"></span>
<h5><b>Projects</b></h5>
<ul class="project-list">
  <li><code>2018 &raquo;</code><a href="http://chiayolin.org/ig-full-res/">View Full-Res Instagram Profile Picture</a></li>
  <li><code>2017 &raquo;</code><a href="https://github.com/chiayolin/cylisp">
    <abbr title="This project is a work-in-progress">*Scheme-Inspired LISP Machine</abbr></a></li>
  <li><code>2017 &raquo;</code><a href="https://github.com/chiayolin/3l34n0r">
    <abbr title="This project is a work-in-progress">*3l34n0r (Bot-Like Personal Assistant)</abbr></a></li>
  <li><code>2017 &raquo;</code> <abbr title="This project is a work-in-progress">Variable DC Power Supply (LM-317)</abbr></li>
  <li><code>2017 &raquo;</code> <a href="https://github.com/chiayolin/pytelegram">Minimalistic Python Framework for Telegram</a></li>
  <li><code>2017 &raquo;</code> <a href="http://hearingvietnam.org/">Hearing Vietnam's Official Website</a></li>
  <li><code>2016 &raquo;</code> <a href="https://github.com/chiayolin/chiayolin.github.io/tree/source">chiayolin.org (new)</a></li>
  <li><code>2016 &raquo;</code> <a href="http://chiayolin.org/dotfiles/">Dotfiles 2.0</a></li>
  <li><code>2016 &raquo;</code> <a href="http://chiayolin.org/physics_mccc/">Physics Engineering Project (2016)</a></li>
  <li><code>2015 &raquo;</code> A Computer Science Club at SSIS &dagger;</a></li>
  <li><code>2015 &raquo;</code> <a href="http://chiayolin.org/physics_drone/">Physics Engineering Project (2015)</a></li>
  <li><code>2014 &raquo;</code> <a href="http://chiayolin.org/nbc/">nbc</a></li>
  <li><code>2014 &raquo;</code> Programmable Bluetooth Powerstrip</li>
  <li><code>2014 &raquo;</code> chiayolin.org (original)</li>
  <li><code>2013 &raquo;</code> 4-bit Binary Adder</li>
</ul>
</section><!-- /#content -->
{% endblock content %}
