@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&family=Roboto:wght@300&display=swap');

:root {
  /* defualt configs */
  --defualt-margin: 2rem;
  --defualt-padding: 1rem;
  --defualt-font-size: 16px;
  --defualt-line-height: 1.5;
  --defualt-font: 'Roboto', Helvetica, Arial, sans-serif;
  --defualt-title-font: 'Recursive', Helvetica, Arial, sans-serif;

  /* nav configs */
  --nav-item-margin: 1.75rem;
  --nav-logo-size: 1.5rem;
  --nav-height: 5rem;

  /* colors orgy */
  --black: #24292e;
  --dark: #333333;
  --light: #586069;
  --white: #ffffff;

  --bg-color: #f5f5f7;
  --link-color: #3d7e9a;
  --border-color: #e1e4e8;

  /* aux */
  --content-width: 90%;
  --border-radius: .5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--defualt-title-font);
  font-weight: 600;
  color: var(--black);
}

body {
  font-family: var(--defualt-font);
  line-height: var(--defualt-line-height);
  font-size: var(--defualt-font-size);
  background-color: var(--bg-color);
  color: var(--dark);
}

a {
  color: var(--link-color);
}

nav {
  font-family: var(--defualt-title-font);
  background-color: var(--white);
  height: var(--nav-height);
}

footer {
}

.content {
  width: var(--content-width);
  margin: var(--defualt-margin) auto;
}

.signin {
  margin: var(--nav-item-margin);
  color: var(--black);
  text-decoration: none;
  font-weight: 600;
}

.logo {
  height: var(--nav-logo-size);
  margin: var(--nav-item-margin);
  margin-left: 5vw; /* align regardless screen size */
}

.box {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--defualt-padding);
  background-color: var(--white);
  margin: 0.5rem auto;
}

/* font sizes made easy */
.f6 { font-size: 0.5rem  !important; }
.f5 { font-size: 0.75rem !important; }
.f4 { font-size: 1rem    !important; }
.f3 { font-size: 1.25rem !important; }
.f2 { font-size: 1.5rem  !important; }
.f1 { font-size: 2rem    !important; }

.mute-text        { color: var(--light); }
.center-text      { text-align: center;  }
.pull-right       { float: right;        }
