{% extends 'base.html' %}

{% block content %}
  <div class="content">
    {% if title %}
      <h1 class="content-title">{{ title }}</h1>
    {% endif %}

    {% if cover %}
      <div class="content-cover">
        <img src={{ cover }} class="content-image">
      </div>
    {% endif %}

    {% if caption %}
      <p class="content-image-caption">{{ caption }}</p>
    {% endif %}

    {% if author or date or location %}
      <span class="content-metadata">
        {% if date %}{{ date }} {% endif %}
        {% if author %}by {{ author }} {% endif %}
        {% if location %}<br/>{{ location }} {% endif %}
        {% if modified %}<br/>last modified {{ modified }} {% endif %}
      </span>
    {% endif %}

    {{ html }}
  </div>
{% endblock %}
